<!DOCTYPE html>

<html>

<head>

    <link rel="stylesheet" href="../css/style.css">

   

</head>

<body>

    <div>{{>header}}</div>
    <p>{{name}}</p>
    <p>{{surname}}</p>

    <form>

        <input placeholder="location">
        <button>Submit</button>

    </form>

    <p id="one"></p>
    <p id="two"></p>

    

    <div>{{>footer}}</div>

    <script src="/js/script.js"></script>

</body>


</html>